@font-face {
	font-family: Watchword;
	font-weight: normal;
	src: url('Watchword-Normal.woff');
}

input[type=text]{
	outline-width: 0;
	width:638px;
	height:70px;
	background:rgba(255, 255, 255, 0.0);
	font-family: 'Watchword';
	font-weight: normal;
	font-size:20px;
	cursor:text;
	border: 4px solid white;
	border-radius: 100px;
	color:#FFF;
	padding-left:50px;
}

body {
	background-color: #222;
}
